# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker
*.tar

# Kubernetes temp
*.swp

# Node (future-proof)
node_modules/

# Coverage / test
.coverage
htmlcov/

# Misc
*.bak
*.tmp
